@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@800&family=Raleway:wght@400;600&family=Rubik+Mono+One&display=swap');

* {
    overflow: hidden;
}

/* Configurando o header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    position: relative;
    max-width: 180px;
}

header .navegar ul {
    position: relative;
    display: flex;
}

header .navegar li {
    list-style: none;
}

header .navegar li a{
    color: #ECF8E5;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin-left: 100px;
    transition: 0.1s ease-in-out;
}
header .navegar li a:hover{
    color: #EBD937;
    text-shadow: 0 1px 1px #EBD937;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    margin-left: 100px;
    transition: 0.1s ease-in-out;
}

#div_login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Janelas Modal */
.janela-modal { /* Overlay da Janela Modal */
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/bg_boladeouro.png);
    background-size: 100%;
    overflow: hidden;
}

/* Tela de login (Janela Modal) */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 345px;
    height: 350px;
    background-color: #2D2727;

    padding: 35px;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #121212;
}

.login img {
    width: 185px;
    height: auto;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.login input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    color: #121212;
    border-radius: 5px;
    border: none;
    background-color: #ECF8E5;
    height: 45px;
    outline: none;

    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.login::placeholder {
    color: #121212;
    font-size: 14px;
}

.login button{
    margin-top: 10px;
    height: 45px;
    width: 100px;
    color: #121212;
    background-color: #FFDD3C;
    border: 1px solid #121212;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.login button:hover{
    margin-top: 10px;
    height: 45px;
    width: 100px;
    color: #FFDD3C;
    background-color: #121212;
    border: 1px solid #FFDD3C;
    border-radius: 8px;
    box-shadow: 0px 1px 2px #FFDD3C;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login p {
    color: #ECF8E5;
    margin-top: 10px;
}

.login p a {
    color: #EBD937;
    text-decoration: underline;
}